<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Editor</h3>
  </div>
  <div class="panel-body editor-container">
    <div id="editor"># Phoenix Bloc</div>
    </div>
</div>

